/* CSS for the bottom navigation bar */
.container {
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: Add border for visualization */
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    background-color: #f9f9f9; /* Optional: Add background color */
    text-align: center; /* Center the content horizontally */
    position: relative; /* Set position relative for absolute positioning of bottom nav */
    overflow-y: auto; /* Add overflow-y property to enable vertical scrolling */
    height: calc(100vh - 70px); /* Adjust for the height of the bottom navigation bar */
}

/* CSS for the bottom navigation bar */
.bottom-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 20px); /* Adjust width to match container width */
    background-color: #333;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    z-index: 100;
}

.bottom-nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

#food-dropdown {
    max-width: 300px !important; /* Adjust the maximum width of the dropdown */
}

.articles-list {
    list-style-type: none;
    padding: 0;
}

.article-item {
    margin-bottom: 20px;
}

.article-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.article-content {
    padding: 10px;
    border-radius: 5px;
}

.article-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.article-image {
    width: 50%; /* Adjust this value as needed */
    height: auto;
    border-radius: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.button.login-button {
    background-color: #4CAF50;
}

.button.create-profile-button {
    background-color: #008CBA;
}

.button:hover {
    opacity: 0.8;
}

.user-icon {
    position: absolute; /* Position the icon relative to the viewport */
    top: 10px; /* Adjust top distance from the top of the viewport */
    right: 10px; /* Adjust right distance from the right of the viewport */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Vertically center items */
}

.user-icon img {
    width: 30px; /* Adjust icon width */
    height: 30px; /* Adjust icon height */
    margin-right: 5px; /* Add a small margin between icon and text */
}

.user-icon span {
    color: black; /* Set text color */
}
/* Add additional styling as needed */