{% extends "base.html" %}

{% block title %}
Create Profile
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create Profile</h1>
        <form id="profile-form" method="post">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br>
            <button type="submit">Create Profile</button>
        </form>
        {% if message %}
            <p>{{ message }}</p>
            <a href="/login">Log In</a>
        {% endif %}
    </div>
{% endblock %}