{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to SPAN</h1>
    <p>Discover the latest pet health articles:</p>
    <ul class="articles-list">
        {% for article in articles %}
        <li class="article-item">
            <a href="{{ article.link }}" class="article-link" target="_blank">
                <div class="article-content">
                    <h2 class="article-title">{{ article.title }}</h2>
                    <img src="{{ article.image_url }}" alt="{{ article.title }}" class="article-image">
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
