{% extends "base.html" %}

{% block title %}
Nutritional Score Calculator
{% endblock %}

{% block content %}
        <h1>Nutritional Score Calculator</h1>
        <form id="score-form">
            <label for="food-dropdown">Select a food:</label>
            <select id="food-dropdown" name="food-dropdown">
                {% for food_option in food_options %}
                    <option value="{{ food_option }}">{{ food_option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Calculate Score</button>
        </form>
        <div id="result"></div>
{% endblock content %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            console.log('Document ready!');
            $('#score-form').submit(function (event) {
                console.log('Form submitted!');
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/calculate-score',
                    data: $(this).serialize(),
                    success: function (response) {
                        $('#result').html('<p>Score: ' + response.score + ', Nutri score: ' + response['nutri score'] + '</p>');
                    },
                    error: function (xhr) {
                        console.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
{% endblock scripts %}